
body {
	background-color: #222222;
}

h1 {
	color: white;
	font-size: 30px;
}

 @font-face { font-family: opensans; src: url('Resources/OpenSans-Regular.ttf');}

body {
	background-color: #222222;
}

.prompt {
	font-family: opensans;
	color: white;
	text-align: center;
	font-size:25px;

	position: fixed;
	width: 90%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button {
	background-color: #4CAFFF;
	
	font-family: opensans;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	position:fixed;
	width:50%;
	bottom : 10%;
	left : 25%;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	touch-action: manipulation; 
}

.button:hover {
  background-color: #5dc2f5;
}
.button:active {
  background-color: #5591ff;
}